@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (padding: max(0px)) {
  .fixed {
    padding-left: max(16px, env(safe-area-inset-left));
    padding-right: max(16px, env(safe-area-inset-right));
  }
  .pb-safe {
    padding-bottom: max(16px, env(safe-area-inset-bottom));
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}